<div *ngIf='item' class='container'>
    <div class='row'>                 
        <div class='col-12'>
            <div class='row titleItem'>{{item.title}}</div>
            <div class='row'>
                <div class='col-4 subtitleItem'>
                    {{item.score}} point by <b>{{item.by}}</b> {{item.time*1000 | timeAgo}}
                </div>                    
            </div>        
        </div>
    </div>
    <div class='row textItem'>
        {{item.text}}
    </div>
    <div class='row replyBox'>
        <span *ngIf='item.descendants'>
            {{item.descendants}} comment<span *ngIf="item.descendants>1">s</span>
        </span>
        <button class='btn' *ngIf='!openForm' (click)="openForm=true;">Reply</button>
    </div>
    <div class='row' *ngIf='openForm'>
        <textarea [(ngModel)]="newComment"></textarea>
    </div>  
    <div class='row' *ngIf='openForm'>
        <button class='btn' (click)="addComment(newComment);newComment=undefined;openForm=false;">Add comment</button>
        <button class='btn closeBtn' (click)="newComment=undefined;openForm=false;">Close</button>
    </div>
    <div *ngFor='let comment of comments'>
        <app-comment *ngIf="comment" [comment]='comment'></app-comment>
    </div>
</div>


